.MMM-RepoStats .dockertable {
  border-spacing: 10px 0;
  border-collapse: separate;
}

.MMM-RepoStats .dockerlogo {
  margin-right: 5px;
}

.MMM-RepoStats .dockerright {
  text-align: right;
}

.MMM-RepoStats .githubtable {
  border-spacing: 10px 0;
  border-collapse: separate;
}

.MMM-RepoStats .githublogo {
  margin-right: 5px;
}

.MMM-RepoStats .githubright {
  text-align: right;
}

.MMM-RepoStats .gitlabtable {
  border-spacing: 10px 0;
  border-collapse: separate;
}

.MMM-RepoStats .gitlablogo {
  margin-right: 5px;
}

.MMM-RepoStats .gitlabright {
  text-align: right;
}
