<header class="align-left">
    <i class="fab fa-{{ config_docker.type }} dockerlogo"></i>
    <span>{{ config_docker.title }}</span>
</header>
{% if (not repoList_docker) or (not repoList_docker[0].count) %}
    <div class="xsmall dimmed light">Loading ...</div>
{% else %}
    <table class="small dockertable align-left">
        <tr class="xsmall dimmed">
            <th >Image</th>
            <th class="dockerright">Pulls</th>
            {% if config_docker.dockerStatsRepo != "" %}
            <th class="dockerright">Today</th>
            <th class="dockerright">Avg Daily</th>
            {% endif %}
            <th class="dockerright">Stars</th>
            <th class="dockerright">Updated</th>
        </tr>
        {% for repo in repoList_docker %}
            <tr>
                <td>{{ repo.name }}</td>
                <td class="dockerright">{{ repo.count }}</td>
                {% if config_docker.dockerStatsRepo != "" %}
                <td class="dockerright">{{ repo.dayly }}</td>
                <td class="dockerright">{{ repo.avgdayly }}</td>
                {% endif %}
                <td class="dockerright">{{ repo.stars }}</td>
                <td class="dockerright">{{ repo.updated }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}