<header class="align-left">
    <i class="fab fa-{{ config_github.type }} githublogo"></i>
    <span>{{ config_github.title }}</span>
</header>
{% if (not repoList_github) or (not repoList_github[0].forks) %}
    <div class="xsmall dimmed light">Loading ...</div>
{% else %}
    <table style="--{{ config_github.type }}" class="small githubtable align-left">
        <tr class="xsmall dimmed">
            <th >Repository</th>
            <th class="githubright">Forks</th>
            <th class="githubright">Stars</th>
            <th class="githubright">Updated</th>
            <th class="githubright">Subscribers</th>
            <th class="githubright">Issues</th>
        </tr>
        {% for repo in repoList_github %}
            <tr>
                <td>{{ repo.name }}</td>
                <td class="githubright">{{ repo.forks }}</td>
                <td class="githubright">{{ repo.stars }}</td>
                <td class="githubright">{{ repo.updated }}</td>
                <td class="githubright">{{ repo.subscriber }}</td>
                <td class="githubright">{{ repo.issues }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}