<header class="align-left">
    <i class="fab fa-{{ config_gitlab.type }} gitlablogo"></i>
    <span>{{ config_gitlab.title }}</span>
</header>
{% if (not repoList_gitlab) or (not repoList_gitlab[0].forks) %}
    <div class="xsmall dimmed light">Loading ...</div>
{% else %}
    <table class="small gitlabtable align-left">
        <tr class="xsmall dimmed">
            <th >Repository</th>
            <th class="gitlabright">Forks</th>
            <th class="gitlabright">Stars</th>
            <th class="gitlabright">Updated</th>
            {% if config_gitlab.token != "" %}
            <th class="gitlabright">Public</th>
            <th class="gitlabright">Stats</th>
            <th class="gitlabright">Issues</th>
            {% if showPipeline_gitlab %}
            <th class="gitlabright">Pipeline</th>
            <th class="gitlabright">Branch</th>
            <th class="gitlabright">Result</th>
            {% endif %}
            {% endif %}
        </tr>
        {% for repo in repoList_gitlab %}
            <tr>
                <td>{{ repo.name }}</td>
                <td class="gitlabright">{{ repo.forks }}</td>
                <td class="gitlabright">{{ repo.stars }}</td>
                <td class="gitlabright">{{ repo.updated }}</td>
                {% if config_gitlab.token != "" %}
                <td class="gitlabright">{{ repo.public }}</td>
                <td class="gitlabright">{{ repo.stats }}</td>
                <td class="gitlabright">{{ repo.issues }}</td>
                {% if showPipeline_gitlab %}
                <td class="gitlabright">{{ repo.run }}</td>
                <td class="gitlabright">{{ repo.branch }}</td>
                <td class="gitlabright">{{ repo.result }}</td>
                {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}